<h1 i18n="h1Text">Choisir une branche</h1>
<button (click)="display(0)">Branche TRAMIER</button>
<button (click)="display(5)">Afficher carte globale</button>

<app-tree-core *ngIf="branch === 0"></app-tree-core>

<!--
<agm-map *ngIf="branch === 5" style="height: 800px" [latitude]="coords[24].lat" [longitude]="coords[24].lon" [zoom]="7" >
    <div *ngFor="let coo of coords">
        <agm-marker [latitude]="coo.lat" [longitude]="coo.lon" [iconUrl]="{url: './../assets/images/' + coo.opts, scaledSize: {
        width: 12,
        height: 20
    }}"></agm-marker>
    </div>
</agm-map>

-->